In [7]:
import json
import google.generativeai as genai
import pandas as pd

In [4]:
with open('../documents.json', 'r') as f: d = json.load(f)
with open('../summaries.json', 'r') as f: s = json.load(f)

In [9]:
model = genai.GenerativeModel("models/gemini-1.5-flash")

In [15]:
ddf = pd.DataFrame([{'type': v['type'],
                    'id_number': v['id_number'],
                    'n_tokens': model.count_tokens(v['contents']).total_tokens
                    }
                    for k, v in d.items()])

sdf = pd.DataFrame([{'type': v['type'],
                    'id_number': v['id_number'],
                    'n_tokens': model.count_tokens(v['summary']).total_tokens
                    }
                    for k, v in s.items()])

In [25]:
ddf

           type   id_number  n_tokens
0          bill           1       185
1          bill           2      3863
2          bill           3      9087
3          bill           4      1981
4          bill           5      1576
..          ...         ...       ...
406  transcript  2024-04-10     91263
407  transcript  2022-11-22     71839
408  transcript  2023-11-29    122237
409  transcript  2024-04-15     74482
410  transcript  2022-10-27     94092

[411 rows x 3 columns]

In [23]:
ddf['n_tokens'].sum()

14079300

In [24]:
sdf['n_tokens'].sum()

205230